<div class="navbar">
  <div class="navbar-content">
    <button id="sidebar" class="btn btn-square">
      <i class="fa fa-bars"></i>
    </button>
  </div>
  <a href="/admin" class="navbar-brand">
    <img src="/resources/admin/assets/images/logo.svg" alt="{{ app.name }}" width="30" height="30"> {{ app.name|title }}
  </a>
  <span class="navbar-text">{{ app.version }}</span>
</div>
